.place__title {
  grid-area: title;
  margin-bottom: 0;
  margin-right: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  /* max-width: 584px; */
  /* height: 152px; */
  text-align: left;
  margin-top: 0;
  grid-column-end: 2;
  /* overflow-x: visible; */
}

@media screen and (max-width: 1279px) {
  .place__title {
    line-height: 46px;
    font-size: 42px;
    font-weight: 900;
  }
  /* .place__title br {
    display: none;
    overflow: auto;
  } */
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}
