.place__title {
  margin-bottom: 0;
  margin-right: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  /* max-width: 584px; */
  /* height: 152px; */
  text-align: left;
  /* overflow-x: visible; */
}
