@font-face {
  src: url("../../fonts/Inter-Black.woff"); /*ruta del archivo fuente */
  font-family: "Inter"; /*nombre para identificar la fuente en los archivos CSS */
  font-weight: 900; /*tienes que declarar separadamente cada estilo si vas a usar distintos */
}

@font-face {
  src: url("../../fonts/Inter-SemiBold.woff"); /*ruta del archivo fuente */
  font-family: "Inter"; /*nombre para identificar la fuente en los archivos CSS */
  font-weight: 600; /*tienes que declarar separadamente cada estilo si vas a usar distintos */
}

@font-face {
  src: url("../../fonts/Inter-Regular.woff"); /*ruta del archivo fuente */
  font-family: "Inter"; /*nombre para identificar la fuente en los archivos CSS */
  font-weight: 400; /*tienes que declarar separadamente cada estilo si vas a usar distintos */
}

body {
  background-color: #2a2c2f;
}

.page {
  background-color: #2a2c2f;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
}
