.places {
  /* max-width: 987px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 92px 148px auto;
}

@media screen and (max-width: 1279px) {
  .places {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 62px;
  }
}
