.place__button {
  grid-area: button;
  overflow: visible;
  text-decoration: none;
  grid-column-end: 3;
  text-align: center;
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter";
  line-height: 22px;
  font-size: 18px;
  font-weight: 600;
  padding: 13px 20px;
  margin-top: 0;
  border: solid 1px #0278fe;
  pointer-events: auto;
  height: fit-content;
  width: fit-content;
}

.place__button :visited {
  color: #fff;
}

.place__button:hover {
  cursor: pointer;
  background-color: #0063d2;
  border: solid 1px #0063d2;
}

/* @media screen and (max-width: 1279px) {
  .place__button {
    width: 355px;
  }
} */

@media screen and (max-width: 767px) {
  .place__button {
    width: 288px;
    grid-column-end: 2;
    font-size: 14px;
    line-height: 17px;
    padding: 21px 16px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
}
