.place__button {
  background-color: #0278fe;
  /* max-width: 355px; */
  border-radius: 4px;
  color: #fff;
  font-family: "Inter";
  line-height: 22px;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 13px;
  margin-top: 48px;
  border: solid 4px #0278fe;
}

.place__button:hover {
  cursor: pointer;
  background-color: #0063d2;
  border: solid 4px #0063d2;
}
