.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 32px;
  text-align: center;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.cover__subtitle:last-of-type {
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}
