.intro__author {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  max-width: 720px;
  /* height: 34px; */
  text-align: right;
  margin-top: -24px;
}

@media screen and (max-width: 767px) {
  .intro__author {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro__author {
    margin-right: 16px;
  }
}
