.header__main-picture {
  max-width: 984px;
  /* height: 615px; */
  filter: grayscale(1);
  margin-top: 64px;
}

@media screen and (max-width: 1279px) {
  .header__main-picture {
    margin-top: 69px;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .header__main-picture {
    margin-top: 40px;
    max-width: 320px;
  }
}
