.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .covver__title {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 767px) {
  .cover__itle {
    font-size: 32px;
    line-height: 35px;
  }
}
