.place {
  /* width: 984px; */
  display: grid;
  grid-template-areas:
    "title website"
    "image text"
    "button text";
  grid-auto-columns: 460px 484px;
  grid-template-rows: auto 460px auto;
  row-gap: 48px;
  column-gap: 40px;
  margin-top: 0;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-auto-columns: 340px 352px;
    grid-template-rows: auto 340px auto;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto 320px auto auto;
    grid-template-areas: "title" "website" "image" "text" "button";
    gap: 0;
    margin-bottom: 0;
  }
}
