.header__title {
  margin-top: 90px;
  margin-bottom: 0;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  max-width: 793px;
  /* height: 200px; */
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header__title {
    margin-top: 50px;
    line-height: 44px;
    font-size: 40px;
  }
}
