@import url("normalize.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__title/header__title.css");
@import url("../blocks/header/__subtitle/header__subtitle.css");
@import url("../blocks/header/__main-picture/header__main-picture.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/intro/__quote/intro__quote.css");
@import url("../blocks/intro/__author/intro__author.css");
@import url("../blocks/intro/__text/intro__text.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__item/photo-grid__item.css");
@import url("../blocks/places/places.css");
@import url("../blocks/place/place.css");
@import url("../blocks/place/__title/place__title.css");
@import url("../blocks/place/__title/_long/place__title_long.css");
@import url("../blocks/place/__website/place__website.css");
@import url("../blocks/place/__website/_artist/place__website-artist.css");
@import url("../blocks/place/__website/_heading/place__website_heading.css");
@import url("../blocks/place/__image/place_image.css");
@import url("../blocks/place/__paragraph/place__paragraph.css");
@import url("../blocks/place/__paragraph/_separation/place__paragraph_separation.css");
@import url("../blocks/place/__button/place__button.css");
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__content/_title/cover__content_title.css");
@import url("../blocks/cover/__content/_subtitle/cover__content_subtitle.css");
@import url("../blocks/cover/__content/_button/cover__content_button.css");
@import url("../blocks/cover/__image/cover__image.css");
@import url("../blocks/cover/__content/cover__content.css");
