.cover__content {
  position: absolute;
  top: 243px;
  left: 264px;
  text-align: center;
  min-width: 656px;
  pointer-events: none;
}

@media screen and (max-width: 1279px) {
  .cover__content {
    top: 246px;
    left: 56px;
  }
}

@media screen and (max-width: 767px) {
  .cover__content {
    top: 46px;
    left: 16px;
    right: 16px;
    min-width: 288px;
  }
}
